//Primary color: Cyan
$cyan: #00bbd3;
$cyanlight: #7fdde9;
$cyanlighter: #b1eaf1;
$cyandark: #0096a6;

//Secondary color: Pink
$pink: #ff3f80;
$pinklight: #ff7faa;
$pinklighter: #f7bacf;
$pinkdark: #c41061;

//Tertiary color: Green
$green: #8ac249;
$greenlight: #add480;
$greenlighter: #dbecc7;
$greendark: #679e37;

//Parts of the webpage
$charcoal: #202020;